<!DOCTYPE html>
<html>
<head>
	<title>ToobDesk</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="../../winconnect/toobify/notify/rend.js"></script>
	<link href="../../winconnect/toobify/toob/style.css" rel="stylesheet" />
	<script>
		$(document).ready(function(){
			// Listen to "player state" Events
			$(window).bind('toobifyRemote', function(e,data){
				if(data.title)
					$('h1').html(data.title);
				$('.state').html(['ended','playing','paused','buffering','','video cued'][data.state] || 'hmmmm... ');
				$('button.play')[data.state===1?'hide':'show']();
				$('button.pause')[data.state!==1?'hide':'show']();
			});
			
			// Trigger an empty toobifyState
			// This requests the current state.
			$(window).trigger('toobifyState');

			// Add events to the button
			$('button').click(function(){
				var o = {
					'play'	: {state:1},
					'pause'	: {state:2},
					'prev'	: {prev:true},
					'next'	: {next:true}
				};
				$(window).trigger('toobifyState', [o[this.className]]);// play
			});
		});
	</script>
	<style>
		body{
			background:#222;
			height:100px;
			position:relative;
			text-align:center;
		}
			header{
				position:relative;
				width:auto;
			}
			h1{
				position:relative;
				font-size:16px;
				width:auto;
			}
	
	</style>
</head>

<body>
	<header><h1>Toobify</h1></header>
	
	<button class="prev" title="Previous">&#9664;&#9664;</button> <button class="play" title="Play">&#9658;</button> <button class="pause" title="Pause">&#9646;&#9646;</button> <button class="next" title="Next">&#9658;&#9658;</button> <span class="state"></span>
</body>
</html>
