*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/* CSS FOR YOUTUBE WIDGET */
header, nav, footer{
	display:block;
}

a img{
	border:none;
}

html{
	font-size:12px;	
}
body{
	margin:0;
	padding:0;
	width:100%;
	min-height:100%;
	background:#1b1b1b;
	font-family:'Molengo', Arial, Helvetica, sans-serif;
	color:gray;
	position:fixed;
	bottom:0;
	height:100%;
	line-height: 2rem;
}

.touch body{
	font-size:15px;
}


header, header div.logo{
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#00000000', endColorstr='#C0000000');
	background:-moz-linear-gradient(
		270deg, 
		transparent, 
		rgba(0,0,0,0.8)
	);
	background-image:-webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.8)));
	background-image:-moz-linear-gradient( top, transparent 0, rgba(0,0,0,0.8) 100% );
	background-image:-ms-linear-gradient( top, transparent 0, rgba(0,0,0,0.8) 100% );
	background-image:linear-gradient( top, transparent 0, rgba(0,0,0,0.8) 100% );
	-moz-border-radius:10px 0 0 10px;
	border-radius:10px 0 0 10px;
}

header{
	background-color:#333;
	padding:0;
	margin:0;
	margin-left:50px;
	position:relative;
/*	width:100%; */
	z-index:1000;
	font-size:1.2rem;
	color:white;
	-webkit-box-shadow:black 0 0 10px;
	-moz-box-shadow:black 0 0 10px;
	box-shadow:black 0 0 10px;
}
	header .toggle-frame-nav{
		margin-left:-40px;
		position:absolute;
	}
	header div.logo{
		display:inline-block;
		padding:5px 10px;
		background-color:orangered;
		border:0;
		border-right:3px solid transparent;
		-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,.2))) 100% 100% 100% 100%;
		cursor:pointer;
	}
	header h1{
		padding:5px 10px;
		font-size:inherit;
		display:block;
		position:absolute;
		top:0;
		left:80px;
		right:80px;
		margin:0;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
	}

footer{
	line-height:1.5rem;
	bottom:0;
	position:absolute;
	left:0;
	right:0;
	padding-left:20px;
}
	footer img{
		vertical-align:middle;
	}



h1,h2,h3{
	font-weight:normal;
}

a{
	color:inherit;
}

button,
.plugin button{
	border:none;
	background:#222222;
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#30FFFFFF', endColorstr='#30000000');
	background:-webkit-gradient(linear,left top, left bottom, from(rgba(255,255,255,0.2)), to(rgba(0,0,0,0.2)), 
				color-stop(50%,rgba(255,255,255,0)), 
				color-stop(50%,rgba(0,0,0,0)));
	background: -moz-linear-gradient(rgba(255,255,255,0.2) 0,rgba(255,255,255,0) 49%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.2) 100%);
    
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.2) 0,rgba(255,255,255,0) 49%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.2) 100%);
    background-image: -ms-linear-gradient(rgba(255,255,255,0.2) 0,rgba(255,255,255,0) 49%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.2) 100%);
    background-image: -moz-linear-gradient(rgba(255,255,255,0.2) 0,rgba(255,255,255,0) 49%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.2) 100%);
    
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px inset,
                        rgba(0, 0, 0, 0.4) 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px inset,
                        rgba(0, 0, 0, 0.4) 0px 1px 1px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px inset,
                rgba(0, 0, 0, 0.4) 0px 1px 1px;
	
	text-shadow:inherit;

	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding:8px 10px;
	color:gray;/*IE*/
	color:rgba(255,255,255,0.5);
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	font-family:"Lucida Grande", Arial, sans-serif;
	font-size:1.2rem;
	cursor:pointer;
	vertical-align: middle;
}
/*
	button:hover{
		color:white;
		-moz-box-shadow: 0 1px 2px rgba(255,255,255,0.3);
		-webkit-box-shadow: 0 1px 2px rgba(255,255,255,0.3);
	}
*/
	.plugin button:active, 
	button:active,
	.plugin button.active, 
	button.active{
	    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px,
	                        rgba(0, 0, 0, 0.7) 0px 1px 3px inset,
	                        rgba(0, 0, 0, 0.1) 0px -5px 12px inset;
	    -moz-box-shadow: rgba(255, 255, 255, 0.2) 0 1px,
	                        rgba(0, 0, 0, 0.7) 0px 1px 3px inset,
	                        rgba(0, 0, 0, 0.1) 0px -5px 12px inset;
	    box-shadow: rgba(255, 255, 255, 0.2) 0 1px,
	                rgba(0, 0, 0, 0.7) 0px 1px 3px inset,
	                rgba(0, 0, 0, 0.1) 0px -5px 12px inset;
		text-shadow:white 0 0 5px;
		color:white;
	}

div.tools{
	position:absolute;
	top:0;
	right:0;
	z-index:101;
	margin-right:10px;
}
	div.tools button{
		display:inline-block;
		margin-right:10px;
/*
		background-color:#1b1b1b;
		-moz-border-radius:5px;
		border-radius:5px;
		-moz-box-shadow:0 1px 2px rgba(0,0,0,0.6), 0 2px 1px rgba(0, 0, 0, 0.8) inset;
		-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.6);
		box-shadow:0 1px 2px black, 0 2px 1px rgba(0, 0, 0, 0.8) inset;
*/
		vertical-align:top;
	}

		div.tools button.share span.count{
			font-size:0.9em;
			margin-top:10px;
			position:absolute;
		}


section{
	position:absolute;
	top:33px;
	bottom:2em;
	overflow:hidden;
	left:0;
	right: 0;
}
	.frameset > *{
		position:relative;
		display:inline-block;
		overflow:hidden;
		letter-spacing: normal;
		word-spacing: normal;
	}

nav{
	position:relative;
	overflow:hidden;
	height:100%;
	background:#1b1b1b;
	top:0;
	bottom:0;
	width:300px;
	text-align:center;
	overflow:hidden;
	min-width:100px;
	display:inline-block;
	vertical-align:top;
	letter-spacing: normal;
	word-spacing: normal;
}

	nav > form{
		/*border:1px solid black;
		border-bottom:none;
		*/width:auto;
		margin:0 10px;
		margin-top:6px;
		position:relative;
		height:33px;
	}
	.mobile nav > form{
		margin-left:0;
		margin-right:0;
	}
		nav form input{
			position: absolute;
			background-color:#636365;
			border:1px solid black;
			color:white;
			font-size:1.1em;
			margin:0;
			bottom:3px;
			padding:2px;
			left:3px;
			right:40px;
			top:0;
			bottom:0;
			-webkit-appearance:none;
			-moz-appearance:none;
		}
		nav form button{
			width: 35px;
			position: absolute;
			right: 0;
			top:0;
			bottom: 0;
		}

	nav > ul{
		border-top:1px solid #444;
		-moz-box-shadow: 2px 0 3px black;
		-webkit-box-shadow: 2px 0 3px black;
		box-shadow: 2px 0 3px black;

		text-align:left;
		/*border:1px solid black;*/
		width:auto;
		/*-webkit-transition: 0.3s linear;*/
		margin:0 10px;
		padding:10px;

		overflow:auto;

		background-color:#333;
		background:#333 -moz-linear-gradient(
			90deg, 
			rgba(20,20,20,0.5) 0,
			rgba(40,40,40,0) 10px,
			rgba(20,20,20,0) 10px
		);
		background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.95, rgba(40,40,40,0)), to(rgba(20,20,20,0.5)));
		background-image: -moz-linear-gradient( 90deg, rgba(20,20,20,0.5) 0, rgba(40,40,40,0) 10px, rgba(20,20,20,0) 10px );
		background-image: -ms-linear-gradient( 90deg, rgba(20,20,20,0.5) 0, rgba(40,40,40,0) 10px, rgba(20,20,20,0) 10px );
		background-image: linear-gradient( 90deg, rgba(20,20,20,0.5) 0, rgba(40,40,40,0) 10px, rgba(20,20,20,0) 10px );
		-webkit-background-size: 100% 200px;
		background-size: 100% 200px;
		background-position:bottom;
		background-repeat:no-repeat;

		display: block;
		bottom: 0;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	.mobile nav ul{
		margin:0;
	}

	.touch nav ul{
		-webkit-overflow-scrolling:touch;
	}

		nav ul li {
			margin:0 -10px;
			padding:2px 10px;
			border-bottom: 1px solid #292929;
			border-top: 1px solid #3a3a3a;
			-ms-transition: all 0.3s linear;
			-moz-transition: all 0.3s linear;
			-webkit-transition: all 0.3s linear;
			transition: 0.3s linear;
			position: relative;
		}
			nav ul li a {
				overflow:hidden;
				white-space:nowrap;
				width: 100%;
				overflow: hidden;
				text-overflow:ellipsis;
				display: inline-block;
			}
			nav ul li a:visited {
				color:darkgray;
			}
				/* images small by default */
				nav ul li a img{
					display:inline-block;
					width:36px;
					vertical-align:middle;
					margin-right:3px;
				}


		nav ul li:hover {
			background-color:#232323;
			border-top-color: #1B1B1B;
			color:white;
		}
			nav ul li:hover a {
				color:inherit;
				padding-right:20px;
			}

		nav:not(.thumbs) ul li.selected{
			/*
			-webkit-transform:translateX(5px);
			-moz-transform:translateX(5px);
			-ms-transform:translateX(5px);
			transform:translateX(5px);
			*/
		}
			nav ul li.selected,
			nav ul li.selected a,nav ul li.selected:hover a{
				color:gold;
			}
				nav ul li a, nav ul li a:hover{
					color:inherit;
					text-decoration:none;
				}
				
				nav ul li span{
					display:none;
					position:absolute;
					right:15px;
					top:0;
					font-family:arial;
					cursor:pointer;
					padding:0 2px;
					margin:0;
					-moz-border-radius:10px;
					-webkit-border-radius:10px;
					border:1px solid transparent;
					border-radius:10px;
					font-size:0.9rem;
					line-height:1rem;
				}
				nav ul li span + span{
					right:0;
				}

				nav ul li:hover span,
				.touch nav ul li span {
					border:1px solid rgba(0,0,0,0.3);
					box-shadow:0 0 5px rgba(0,0,0,0.3) inset;
					display: block;
				}
				nav ul li span.favourite:after{
					content : '\2606';
				}
				nav ul li span.remove:after{
					content: '\2715'; /*\00D7';	font-size: 1.5em;*/
				}
				nav ul li.favourite span.favourite{
					color:gold;
					display: block;
				}
				nav ul li.favourite span.favourite:after{
					content : '\2605';
				}

	/**
	 * Change view controls
	 */
	

	nav div.control{
		text-align: right;
		padding: 0 10px;
		padding-top: 6px
	}

	/**
	 * Thumb view
	 */
	nav.thumbs ul{
		text-align:center;
	}
		nav.thumbs ul li{
		/*
			-moz-box-shadow: 2px 2px 5px black inset;
			-webkit-box-shadow: 2px 2px 5px black inset;
			box-shadow: 2px 2px 5px black inset;
			background-color:#1b1b1b;
			border:1px solid black;*/
			padding:5px;
			width:100px;
			height:140px;
			display:inline-block;
			vertical-align:top;
			margin:0 5px;
			overflow:hidden;
			white-space:normal;
			line-height: 1rem;
			/*
			background:#1b1b1b -moz-linear-gradient(
				90deg, 
				rgba(0,0,0,1) 0,
				rgba(40,40,40,0) 10px,
				rgba(20,20,20,0) 10px
			);
			background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.95, rgba(40,40,40,0)), to(rgba(0,0,0,0.5)));
			-webkit-background-size: 100% 200px;
			background-position:bottom;
			background-repeat:no-repeat;
			*/

		}
			nav.thumbs ul li:nth-child(even){
				background-color:#2e2e2e;
				background-color:rbga(0,0,0,0.1);
			}
			nav.thumbs ul li:hover{
				background-color:#232323;
			}
			nav.thumbs ul li.selected{
				-webkit-box-shadow: black 2px 2px 10px;
				-moz-box-shadow: black 2px 2px 10px;
				box-shadow: black 2px 2px 10px;
				background-color: #2B2B2B;
			}
				nav.thumbs ul li a{
					white-space:normal;
					padding-right: 0;
				}
					nav.thumbs ul li a img{
						clear:both;
						margin:0 auto;
						display:block;
						opacity:0;
						filter:alpha(opacity=0);
						border:none;
						width:100px;
						height:75px;
						-moz-box-shadow:1px 1px 6px black;
						-webkit-box-shadow:1px 1px 6px black;
						box-shadow:1px 1px 6px black;
					}

/**
 * Nav SELECT
 */
nav ul ~ select{
	position:absolute;
	-moz-appearance:button;
	-webkit-appearance: button;
	right: 10px;
	bottom:0;
	background:rgba(0,0,0,0.1);
	border:0;
	padding:2px;
	color:gray;
}
nav ul ~ select option{
}

/**
 * Main Content
 * FLASH PLAYER
 */ 
article{
	margin:0;
	padding:10px;
	width:auto;
	height:100%;
}
	#player, #fplayer{
		width:100%;
	}


/***********************
 * EOF CONVERSATION TOOLS
 ***********************/

* {
	scrollbar-3dlight-color:#333333;
	scrollbar-arrow-color:#999999;
	scrollbar-darkshadow-color:#333333;
	scrollbar-face-color:#444444;
	scrollbar-highlight-color:#333333;
	scrollbar-shadow-color:#333333;
	scrollbar-track-color:#333333;	
}

 
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
::-webkit-scrollbar-button:vertical:increment {
    border:5px solid transparent;
    border-bottom:none;
    border-top:5px solid gray;
}
::-webkit-scrollbar-button:vertical:decrement {
    margin:2px;
    border:5px solid transparent;
    border-top:none;
    border-bottom:5px solid gray;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(80,80,80,0.5);
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(80,80,80,0.5)), to(rgba(0,0,0,0.5)));
}
::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(80,80,80,1);
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(80,80,80,0.6)), to(rgba(0,0,0,0.6)));
}


/**
 * Unique Column
 */
.frameset > *{
	-webkit-transition:all 1s;
}
section nav.search{
	width:20%;
}

	nav > ul{
		top:40px;
	}

section nav.results{
	width:30%;
}

 	section nav:empty:after,
 	section nav ul:empty:after{
 		content:'Loading...';
 		font-size:2.2rem;
 		color:rgba(255,255,255,0.1);
	}

	nav.results > ul{
		display:none;
	}
	nav.results > ul.selected{
		z-index:1;
		display:block;
	}


section article{
	width:50%;
}

	#player:empty{
		text-align:center;
	}
 	#player:empty:after{
 		content:"\2190  search, select, play";
 		font-size:2.2rem;
 		position:absolute;
 		top:45%;
 		left:0;
 		right:0;
 		bottom:0;
 		color:rgba(255,255,255,0.1);
 		text-align:center;
	}


/* iPads (portrait) ----------- */
@media only screen and (orientation : portrait) {
	.frameset nav,
	.frameset article{
		height:50%;
	}

	.frameset article{
		width:100%;
		height:50%;
	}
	.frameset nav.search{
		width:40%;
	}
	.frameset nav.results{
		width:60%;
	}
}


/**
 * Override .resize buttons in the
 */
	.frameset .frame button.resize{
		box-shadow: 0 0 5px black inset;
		background: rgb(25,25,25);
		background: rgba(255, 255, 255, 0.1);
	}



/**
 * Plugin widget defaults
 */
.plugin form{
	background-color:#333;
	color:white;
}
.plugin form button{
	color:white;
	padding: 5px 10px;
}
.plugin form h2{
	color:#aaa;
}
.plugin form h2 q{
	color:gold;
	display:inline-block;
}



/**
 * Frame Nav
 */
.frame-nav{
	font-size:15px;
}
.frame-nav > a{
	padding-top:20px;
}