/**
 * Specifics to the body
 */
nav.right{
	right:0;
	display:block;
}
div.main{
	margin-right:300px;
}

	nav ul.social{
		height:auto;
		max-height:90%;
	}
	nav ul.social a{
		cursor:pointer;
	}
	nav ul.social .isoffline, 
	nav ul.social .issigningin,
	nav ul.social .issigningin a,
	nav ul.social .issignedin,
	nav ul.social .nocontacts{
		display:none;
	}
		nav ul.social.signedout .isoffline,
		nav ul.social.signingin .issigningin,
		nav ul.social.signedin .issignedin,
		nav ul.social.signedin .nocontacts{
			display:block;
		}
		nav ul.social.signedout div.profile{
			display:none;
		}
			nav ul.social div.profile span.name{
				color:#999;
				margin-right:5px;
			}
			nav ul.social div.profile img{
				width:16px;
				height:16px;
				margin-right:5px;
				vertical-align:top;
			}
	nav ul.social h2{
		color: #1B1B1B;
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 1px;	
	}
	
	/**
	 * Comments
	 */
	nav ul.social form{
		display:block;
		margin:0;
	}
		nav ul.social form input{
			width:100%;
		}
		nav ul.social form button{
			float:right;
		}

	nav ul.social  li.comment{
		display:list-item;
		height:auto;
		margin:0;
		padding:2px;
		list-style:none;
	}
		nav ul.social li.comment img{
			width:16px;
			height:16px;
		}
		nav ul.social li.comment .date{
			color:#1b1b1b;
		}
	

/**
 * Invite
 */
form.invite div.left{
	width: 69%;
	float:left;
	overflow: auto;
	position:absolute;
	max-height:75%;
}
	form.invite div.contact-picker button{
		min-width:120px;
		width:33%;
		text-align:left;
		-webkit-transition:background-color .3s linear;
	}
	form.invite div.contact-picker button.active{
		background-color:green;
	}
		form.invite div.contact-picker img{
			width:40px;
			height:40px;
			vertical-align: middle;
			display:-moz-inline-box;
		}
		form.invite div.contact-picker .name{
			position:absolute;
			width:20%;		
			overflow:hidden;
		}

form.invite div.right{
	width: 26%;
	float:right;
	margin:0 2%;
}
	form.invite h3{
		font-weight:bold;
	}
	form.invite div.message{
		background-color: #444;
		padding: 3px;
	}
		form.invite div.message textarea{
			color:white;
			background-color:gray;
			height:100px;
			width:95%;
		}
		form.invite div.message b{
			color:#999999;
		}
	form.invite div.message button.submit{
		float:right;
	}