/**
 * Specifics to the body
 */
nav.right{
	right:0;
	display:block;
}
div.main{
	margin-right:300px;
}

/**
 * Networks control buttons
 */
div.networks {
	
}
	div.networks div{
		margin-bottom:10px;
		height:16px;
	}
		div.networks button{
			background-color:#444;
		}
			div.networks button span.name{
				color:white;
			}
		div.networks span.name{
			color:#999;
			margin-right:5px;
		}
		div.networks img{
			width:16px;
			height:16px;
			margin-right:5px;
			vertical-align:top;
		}



/**
 * Nav controls
 */
 	nav ul.connect{
		height:auto;
		max-height:90%;
	}
	nav ul.connect a{
		cursor:pointer;
	}
		nav ul.connect div.profile{
			overflow:hidden;
			height:18px;
			width:150px;
			display:inline-block;
			vertical-align:top;
		}
		nav ul.connect div.profile.active{
		}
			nav ul.connect div.profile div.networks{
			}
			nav ul.connect div.profile.active div.networks{
				height:auto;
				position:absolute;
				box-shadow:0 0 10px 10px #1B1B1B;
				background-color:#1B1B1B;
			}
		nav ul.connect div.issignedin,
		nav ul.connect span.issignedin{
			display:none;
		}
		nav ul.connect div.settings{
			float:right;
			display:inline-block
		}
	nav ul.connect h2{
		color: #1B1B1B;
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 1px;	
	}
	
	/**
	 * Comments
	 */
	nav ul.connect form{
		display:block;
		margin:0;
	}
		nav ul.connect form input{
			width:100%;
		}
		nav ul.connect form button{
			float:right;
		}
	nav ul.connect li{
		display:inline-block;
		height:auto;
		margin:0;
		padding:2px;
	}
		nav ul.connect li img{
			width:16px;
			height:16px;
		}
	nav ul.connect li:hover{
		z-index:1;
	}

	nav ul.connect  li.comment{
		display:list-item;
		height:auto;
		margin:0;
		padding:2px;
		list-style:none;
	}
		nav ul.connect li.comment img{
			width:16px;
			height:16px;
		}
		nav ul.connect li.comment .date{
			color:#1b1b1b;
		}
	
/**
 * Column Layout
 */


/**
 * Contact Picker
 */
div.contact-picker button{
	min-width:120px;
	width:33%;
	text-align:left;
	-webkit-transition:background-color .3s linear;
}
div.contact-picker button.active{
	background-color:green;
}
	div.contact-picker img{
		width:40px;
		height:40px;
		vertical-align: middle;
		display:-moz-inline-box;
	}
	div.contact-picker .name{
		position:absolute;
		width:20%;		
		overflow:hidden;
	}

/**
 * Invite
 */
	.invite form div.message{
		background-color: #444;
		padding: 3px;
	}
		.invite form  div.message textarea{
			color:white;
			background-color:gray;
			height:100px;
			width:95%;
		}
		.invite form  div.message b{
			color:#999999;
		}
	.invite form  div.message button.submit{
		float:right;
	}
