/**
 * Specifics to the body
 */
			
@-webkit-keyframes glow {
  0%   { background-color:rgba(0,0,0,0.0); }
  50%  { background-color:rgba(0,0,0,0.6); }
  100% { background-color:rgba(0,0,0,0.0); }
}
nav ul.messenger li.hello{
	color:lime;
	-webkit-animation: 'glow' 3s ease-in-out;
	-webkit-animation-iteration-count: 100;
}
	nav ul.messenger li.hello a{
		color:white;
	}
nav ul.messenger li.offline{
	color:#855;
}
	nav ul.messenger li.offline span{
		color:#855;
	}
nav ul.messenger li:hover{
	background-color:#232323;
}
nav ul.messenger li.selected{
	color:white;
	height:auto;
	background-color:#555;
	-webkit-animation:none;
}
	nav ul.messenger li.selected a{
		color:#aaa;
	}
	nav ul.messenger li a.watching{
		color:darkGray;
		margin-left:10px;
		text-decoration:underline;
	}
	nav ul.messenger li img{
		vertical-align:text-top;
		border:none;
	}
	nav ul.messenger li .rh{
		margin-left:40%;
	}

/*************************************
 * CONVERSATION TOOL
 *************************************/
	
.ConversationControl_Container{
	color: white;
	width: 100%;
	max-width:100%;
	background-color:transparent;
}
	.ConversationControl_Toolbar,
	.ConversationControl_Participants,
	.ConversationControl_ParticipantsSeparator,
	.ConversationControl_Participant,
	.ConversationTypingControl_LastReceived,
	.ConversationTypingControl {
		display: none;
	}
	.ConversationControl .InfoBarControl {
	}
	.ConversationControl_Content{
		height: 100px;
		margin-top:5px;
	}
	.ConversationHistoryControl{
		overflow:auto;
		padding:0 5px;
		max-width:100%;
	}
		.ConversationHistoryControl_Item{
			display:block;
			margin-bottom:2px;
			color:#888;
		}
		.ConversationHistoryControl span, .ConversationHistoryControl a, 
		.ConversationControl_Container td, .ConversationControl_Container tr{
			word-wrap:break-word;
			word-break:break-all;
		}
		.ConversationHistoryControl .Text{
		/*	background:url("http://css.wlmessenger.net/api/3.50.46010/resources/images/ConversationControl/Bullet.png") no-repeat left 3px;
			padding-left:11px;		
 		*/
			
		}
			.ConversationHistoryControl_TextContent *{
			}
			nav .ConversationHistoryControl_TextContent a {
				word-wrap:break-word;
				color: gray;
				text-decoration: underline;
			}

			.ConversationHistoryControl .TextName span{
				border-bottom:1px solid #777;
				color:#cccccc;
			}
				.ConversationHistoryControl .TextName span img.Emoticon{
					vertical-align:text-bottom;
				}

	.ConversationControl_Input{
	}
		/* typing indicator */
		.ConversationTypingControl {
			width: 100%;
		}
		
		.ConversationInputControl{
			margin:0;
			padding:0;
		}
			.ConversationInputControl_TextBoxPane{
			}
				.ConversationInputControl_TextBox{
					background-color: #777;
					height:25px;
					width:100%;
				}
					.ConversationInputControl_TextBox iframe{ /** because in V3.6 this refered the element was the iframe */
						width:inherit;
						height:inherit;
					}
			.ConversationControl .ConversationInputControl_Toolbar{
				width:auto;
				text-align:right;
				margin-top:-1px;
				background-color:#555;
			}
				.ConversationControl .ConversationInputControl_Toolbar .ConversationInputControl_Button  {
					height:16px;
					width:16px;
					overflow:none;
				}
				.ConversationInputControl_Button_Emoticon {
					background:url('http://css.wlmessenger.net/api/3.50.46010/resources/images/TileCoreLTR.png') no-repeat scroll -2458px 0 transparent;
				}
				.ConversationInputControl_Toolbar .Font {
					background:url("http://css.wlmessenger.net/api/3.50.46010/resources/images/TileCoreLTR.png") no-repeat scroll -2474px 0 transparent;
				}

/***********************
 * CONVERSATION TOOLS
 ***********************/
.FontPicker {
	background-color:#FFFFFF;
	border:1px solid #D2D2D2;
	color:#262626;
	font:10pt/130% 'Segoe UI','Tahoma','Verdana','Sans-Serif';
	margin-left:1px;
	margin-top:-3px;
	padding:5px 7px;
	width:400px;
}
	.FontPicker label{
		display:block;
	}
		.FontPicker label input{
			margin-left:-3px;
		}
	.FontPicker strong{
		display:block;
		margin-bottom:3px;
	}
	.FontPicker_FontPanel,
	.FontPicker_StylePanel,
	.FontPicker_ColorPanel{
		width:160px;
		padding:5px;
	}
	.FontPicker_ButtonPanel{
		width:80px;
		height:100px;
	}
	.FontPicker_ExamplePanel,
	.FontPicker_ColorPanel{
		height:60px;
	}
		.FontPicker_ExamplePanel .FontPicker_Example{
			margin:5px;padding:5px;border:1px solid #bdd5df;
		}
	.FontPicker_Colors,
	.FontPicker_Fonts{
		display:block;
		cursor:default;
	}
	.FontPicker_Color{
		clear:left;
		float:left;
		height:17px;
		width:17px;
		margin-right:4px;
	}
		.FontPicker_Colors_Button,
		.FontPicker_Fonts_Button{
			margin-left:4px;
			margin-right:2px;
			vertical-align:middle;
		}


.ConversationInputControl_EmoticonPicker  {
	background-color:#FFFFFF;
	border:1px solid #D2D2D2;
	margin-left:1px;
	margin-top:-3px;
	padding:2px 0;
	text-align:left;
	width:278px;
}
	.ConversationInputControl_EmoticonPicker .Emoticon{
		margin:3px;
		height:19px;
		width:19px;
	}